/* @import "https://emerald-css.netlify.app/emerald.css"; */

:root {
  --primary-color: rgb(102, 51, 153);
  --secondary-color: rgb(147, 197, 253);
  --white: rgb(255, 255, 255);
  --grey: rgb(175, 168, 168);
  --light-grey: #ebebeb;
  --black: rgb(0, 0, 0);
  --red: rgb(253, 2, 2);
}

/* Override emerald's CSS */
.videoCard{
    padding:0;
    border:none ;
    cursor:pointer;
    max-width: 100%;
}

.videoCard:hover{
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}

.cardImgHeight{
    height:auto;
}

.videoCardHeading{
    font-size:1rem;
}

.videoCardContent{
    font-size:0.9rem;
}

@media screen and (max-width: 700px) {
    
    .cardImgHeight{
        height:auto;
    }
  }