/* @import "https://emerald-css.netlify.app/emerald.css"; */

:root {
  --primary-color: rgb(102, 51, 153);
  --secondary-color: rgb(147, 197, 253);
  --white: rgb(255, 255, 255);
  --grey: rgb(175, 168, 168);
  --light-grey: #ebebeb;
  --black: rgb(0, 0, 0);
  --red: rgb(253, 2, 2);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  margin-bottom: 1rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.logo {
  margin-left: 1.5rem;
  padding: 0.5rem;
  align-self: center;
  line-height: 0;
}

.logo > img {
  width: 5rem;
  height: 5rem;
}

.heading {
  width: 30%;
}

:global(.nav) {
  align-items: flex-end;
}

:global(.nav-item) {
  cursor: pointer;
}

:global(.nav-item.active) {
  font-weight: bold;
}

:global(.nav-item > a) {
  color: var(--primary-color) !important;
}

.navPills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navPills > svg {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 700px) {

  .logo {
    margin-left: 1rem;
    padding: 0;
  }
  .heading {
    width: 100%;
  }
}
